<!--start: Container -->
<div class="container">
            
    <!--start: Wrapper-->
    <div id="wrapper">
    
        <!-- start: Wall -->
        <div id="wall" class="row-fluid">

        <% if (result.length > 0) { %>
        	<% for(var i = 0; i < result.length; i++){ %>
	            <div class="span3 item">
	                <div class="quotes">
	                    <div class="quote">
	                    Eng：<%= result[i].english %><br>
	                    Jp：<%= result[i].japanese %>
	                    </div>
	                    <!--
	                    <div class="author">
	                        
	                    </div>
	                    -->     
	                    <div class="meta">
	                        <span style="margin-left:5px;"><i class="fa-icon-calendar"></i><%= helper.dateFormat(result[i].modified) %></span>
                            <span><i class="icon-pencil"></i><%- helper.link("article/edit", "Edit")%></span>
	                        <!--<span><i class="fa-icon-heart-empty"></i> 88</span>-->
	                    </div>
	                </div>
	            </div>
			<%}%>
        <% } %>

            <div class="span3 item">
                <div class="quotes">
                    <div class="quote">
                    “That’s not what we think design is. It’s not just what it looks like and feels like. Design is how it works”
                    </div>
                    <div class="author">
                        - Steve Jobs -
                    </div>
                </div>
            </div>

            <!--
            <div class="span3 item">
                <div class="picture">
                    <a class="image" href="project.html" title="Title"><%- helper.loader("img", "photo5.jpg") %></a>
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </p>
                    </div>
                    <div class="meta">
                        <span><i class="fa-icon-calendar"></i>1 June 2011</span>
                        <span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
                        <span><i class="fa-icon-heart-empty"></i> 88</span>
                    </div>
                </div>
            </div>
            -->
        </div>
        <!-- end: Wall -->              
                
    </div>
    <!--end: Container-->

</div>
<!-- end: Wrapper  --> 


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--
<%- helper.loader("js", "jquery.js") %>
<%- helper.loader("js", "bootstrap-transition.js") %>
<%- helper.loader("js", "bootstrap-alert.js") %>
<%- helper.loader("js", "bootstrap-modal.js") %>
<%- helper.loader("js", "bootstrap-dropdown.js") %>
<%- helper.loader("js", "bootstrap-scrollspy.js") %>
<%- helper.loader("js", "bootstrap-tab.js") %>
<%- helper.loader("js", "bootstrap-tooltip.js") %>
<%- helper.loader("js", "bootstrap-popover.js") %>
<%- helper.loader("js", "bootstrap-button.js") %>
<%- helper.loader("js", "bootstrap-collapse.js") %>
<%- helper.loader("js", "bootstrap-carousel.js") %>
<%- helper.loader("js", "bootstrap-typeahead.js") %>
-->




<!--
<ul id="ul">
<% for(var i = 0; i < result.length; i++){ %>
<li>
<p><b><%= result[i].english %><b></p>
<p><%= result[i].japanese %></p>
<p><%= result[i].modified %></p>
</li>
<%}%>
</ul>
-->
<!--
<ul id="ul">
<li>Can I get this?<br>
訳：これくださる？（これください）
</li>

<li>
Can we get the check?<br>
訳：お会計お願いします。
</li>

<li>
Are you in line?<br>
訳：並んでますか？
</li>

<li>
Can you take me to the 47st 8 Av?<br>
タクシー等で、47st 8 Avに連れて行ってくれますか？
</li>

<li>
relatively<br>
比較的
</li>

<li>
That would be good!<br>
よさげ！
</li>

<li>
That woulf be worth<br>
悪そうだな...
</li>

<li>
I'm tired beacause too much work to handle.<br>
疲れたよー。たくさん仕事があって扱いきれなくてさ
</li>

<li>
as much as I can<br>
自分の出来るように
</li>

<li>
It's gonna be rain.<br>
雨降りそう
</li>

<li>
Thank you, I apreciate it.<br>
</li>

<li>
I usually drink a cup off cofee.<br>
I drank a glass off water.
</li>

<li>
I'm here to meke a buliding card.<br>
Is it right place?<br>
カード作りに来たのですが、ここでいいですか？
</li>

<li>
made it!<br>
やったぜ！
</li>
</ul>
-->