<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Project name</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form pull-right">
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Password">
          <button type="submit" class="btn">Sign in</button>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2012</p>
  </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%- helper.loader("js", "jquery.js") %>
<%- helper.loader("js", "bootstrap-transition.js") %>
<%- helper.loader("js", "bootstrap-alert.js") %>
<%- helper.loader("js", "bootstrap-modal.js") %>
<%- helper.loader("js", "bootstrap-dropdown.js") %>
<%- helper.loader("js", "bootstrap-scrollspy.js") %>
<%- helper.loader("js", "bootstrap-tab.js") %>
<%- helper.loader("js", "bootstrap-tooltip.js") %>
<%- helper.loader("js", "bootstrap-popover.js") %>
<%- helper.loader("js", "bootstrap-button.js") %>
<%- helper.loader("js", "bootstrap-collapse.js") %>
<%- helper.loader("js", "bootstrap-carousel.js") %>
<%- helper.loader("js", "bootstrap-typeahead.js") %>
<style>
</style>

<!--
<ul id="ul">
<% for(var i = 0; i < result.length; i++){ %>
<li>
<p><b><%= result[i].english %><b></p>
<p><%= result[i].japanese %></p>
<p><%= result[i].modified %></p>
</li>
<%}%>
</ul>
-->
<!--
<ul id="ul">
<li>Can I get this?<br>
訳：これくださる？（これください）
</li>

<li>
Can we get the check?<br>
訳：お会計お願いします。
</li>

<li>
Are you in line?<br>
訳：並んでますか？
</li>

<li>
Can you take me to the 47st 8 Av?<br>
タクシー等で、47st 8 Avに連れて行ってくれますか？
</li>

<li>
relatively<br>
比較的
</li>

<li>
That would be good!<br>
よさげ！
</li>

<li>
That woulf be worth<br>
悪そうだな...
</li>

<li>
I'm tired beacause too much work to handle.<br>
疲れたよー。たくさん仕事があって扱いきれなくてさ
</li>

<li>
as much as I can<br>
自分の出来るように
</li>

<li>
It's gonna be rain.<br>
雨降りそう
</li>

<li>
Thank you, I apreciate it.<br>
</li>

<li>
I usually drink a cup off cofee.<br>
I drank a glass off water.
</li>

<li>
I'm here to meke a buliding card.<br>
Is it right place?<br>
カード作りに来たのですが、ここでいいですか？
</li>

<li>
made it!<br>
やったぜ！
</li>
</ul>
-->


