<!--start: Container -->
<div class="container">
            
    <!--start: Wrapper-->
    <div id="wrapper">

        <form class="form-horizontal" action="<%= config.get('BASE_URL')%>article/save_exec" method="POST">  
            <fieldset>  
                <legend>New Post</legend>
                <div class="control-group">
                    <div class="controls">  
                        <% for(key in errors){%>
                            <p><span style="color:#ff0000;">*<%= errors[key].message%></span></p>
                        <%}%>
                    </div>
                </div>

                <div class="control-group">  
                    <label class="control-label" for="textarea">English Sentence</label>  
                    <div class="controls">  
                        <textarea name="englishSentence" class="input-xlarge" id="textarea" rows="3" placeholder="Is this a pen ?"><%= helper.toEmpty(formValues.englishSentence)%></textarea>
                    </div>  
                </div>   

                <div class="control-group">  
                    <label class="control-label" for="textarea">Japanese Sentence</label>  
                    <div class="controls">  
                        <textarea name="japaneseSentence" class="input-xlarge" id="textarea" rows="3" placeholder="これはペンですか？"><%= helper.toEmpty(formValues.japaneseSentence)%></textarea>
                    </div>  
                </div>

                <div class="control-group"">
                    <label class="control-label" for="textarea">Category</label>
                    <div class="controls">
                        <select name="category"
                            id="normalSelect">
                            <% for(var i = 0; i < categories.length; i++){ %>
                                <% if(formValues.category == (i +1)){%>
                                    <option value="<%= categories[i].categoryId %>" selected>
                                        <%= categories[i].name %>
                                    </option>
                                <% }else{ %>
                                    <option value="<%= categories[i].categoryId %>" >
                                        <%= categories[i].name %>
                                    </option>
                                <% } %>
                            <%}%>
                        </select>
                    </div>
                </div>

                <div class="control-group">  
                    <label class="control-label" for="input01">Sound File URL</label>
                    <div class="controls"> 
                        <input value="<%= helper.toEmpty(formValues.soundFileUrl)%>" name="soundFileUrl" type="text" class="input-xlarge" id="input01" placeholder="http://miketokyo.com">
                    </div>  
                </div>  
                <input type="hidden" name="mode" value="<%= mode %>">
                <% if(typeof(formValues.articleId) != "undefined") { %>
                    <input type="hidden" name="articleId" value="<%= formValues.articleId %>">
                <% } %>

                <div class="form-actions" style="background-color:#ccc;">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>   
            </fieldset>  
        </form>       
                
    </div>
    <!--end: Container-->

</div>
<!-- end: Wrapper  --> 